button:disabled,
button[disabled] {
  cursor: default;
  background-color: darkgrey
}

.mask {
  position: absolute;
  background-size: cover;
  background-position: center center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

.shadow-xl {
  box-shadow: 0 23px 45px -11px rgba(20, 20, 20, 0.25) !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

.position-relative {
  position: relative !important;
}

.border-radius-xl {
  border-radius: 1rem;
}

.bg-gradient-dark {
  background-image: linear-gradient(310deg, #141727 0%, #3A416F 100%);
}

.card-body {
  flex: 1 1 auto;
  padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
  color: var(--bs-card-color);
}

.d-flex {
  display: flex !important;
}

.me-4 {
  margin-right: 1.5rem !important;
}
