<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

<header style="border-style:none" class="border-none" uk-sticky="cls-active: is_fixed ; cls-inactive: bg-white">
  <div class="header_inner">
    <div class="left-side">

      <!-- Logo -->
      <div id="logo">
        <a style="height:fit-content" [routerLink]="['/']">
          <img  src="assets/assets/images/logo.png" alt="">
          <img src="assets/assets/images/logo.png" class="logo_inverse" alt="">
          <img src="assets/assets/images/logo.png" class="logo_mobile" alt="">
        </a>
      </div>

      <div class="triger" uk-toggle="target: .header_menu ; cls: is-visible">
        <i class="uil-bars"></i>
      </div>
      <div class="overly" uk-toggle="target: .header_menu ; cls: is-visible"></div>

    </div>
    <div class="right-side uk-visible@s">

      <ul class="header_menu" uk-scrollspy-nav="closest: li; scroll: true">
        <li [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }">
          <a [routerLink]="['/']" uk-scroll> Home</a>
        </li>
        <li [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }">
          <a [routerLink]="['/about']" uk-scroll> About us</a>
        </li>
        <li [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }">
          <a [routerLink]="['/contact-us']" uk-scroll> Contact us</a>
        </li>
      </ul>

      <a *ngIf="!isUserAuthenticated()" [routerLink]="['/login']" class="bg-gradient-to-bl font-semibold from-purple-400 px-8 py-2 ml-8 rounded text-sm text-white to-blue-600 hover:shadow-lg hover:text-white">
        Sign In
      </a>
      <a *ngIf="!isUserAuthenticated()" [routerLink]="['/register']" class="bg-gradient-to-bl font-semibold from-purple-400 px-8 py-2 ml-2 rounded text-sm text-white to-blue-600 hover:shadow-lg hover:text-white">
        Sign Up
      </a>
      <a *ngIf="isUserAuthenticated()" href="#" class="bg-gradient-to-bl font-semibold from-purple-400 px-8 py-2 ml-2 rounded text-sm text-white to-blue-600 hover:shadow-lg hover:text-white">
        {{email}}
      </a>
      <a *ngIf="isUserAuthenticated()" href="#" (click)="logOut()" class="bg-gradient-to-bl font-semibold from-purple-400 px-8 py-2 ml-2 rounded text-sm text-white to-blue-600 hover:shadow-lg hover:text-white">
        Log Out
      </a>
      <div *ngIf="isAdmin() && isUserAuthenticated()">Ok</div>

    </div>
  </div>
</header>
