


<div class="bg-gray-100">
  <div id="wrapper" class="flex flex-col justify-between h-screen">

    <!--<a href="form-register.html" class="bg-purple-500 purple-500 px-6 py-3 rounded-md shadow text-white">Register</a>-->
    <!-- Content-->
    <div>
      <div class="lg:p-12 max-w-xl lg:my-0 my-12 mx-auto p-6 space-y-">
        <form class="lg:p-10 p-6 space-y-3 relative bg-white shadow-xl rounded-md" [formGroup]="RegisterForm" (ngSubmit)="Register()">

          <h1 class="lg:text-2xl text-xl font-semibold mb-6"> Register </h1>

          <div class="grid lg:grid-cols-2 gap-3">
            <div>
              <label class="mb-0"> First Name </label>
              <input type="text" name="FirstName" matInput formControlName="FirstName" placeholder="Your Name" class="bg-gray-100 h-12 mt-2 px-3 rounded-md w-full" required>
              <mat-error class="err" *ngIf="RegisterForm.controls['FirstName'].hasError('required')&&(RegisterForm.controls['FirstName'].dirty || RegisterForm.controls['FirstName'].touched)">FirstName is <strong>required</strong></mat-error>
            </div>
            <div>
              <label class="mb-0"> Last  Name </label>
              <input type="text" name="LastName" matInput formControlName="LastName" placeholder="Last  Name" class="bg-gray-100 h-12 mt-2 px-3 rounded-md w-full" required>
              <mat-error class="err" *ngIf="RegisterForm.controls['LastName'].hasError('required')&&(RegisterForm.controls['LastName'].dirty || RegisterForm.controls['LastName'].touched)">LastName is <strong>required</strong></mat-error>
            </div>
          </div>
          <div>
            <label class="mb-0"> User Name  </label>
            <input type="text" name="UserName" matInput formControlName="UserName" placeholder="Your User Name" class="bg-gray-100 h-12 mt-2 px-3 rounded-md w-full" (keyup)="CheckUserName()" required>
            <mat-error class="err" *ngIf="RegisterForm.controls['UserName'].hasError('required')&&(RegisterForm.controls['UserName'].dirty || RegisterForm.controls['UserName'].touched)">UserName is <strong>required</strong></mat-error>
            <mat-error class="err" *ngIf="!chkusername&&(RegisterForm.controls['UserName'].dirty || RegisterForm.controls['UserName'].touched)">Username already<strong>Taken</strong></mat-error>
          </div>
          <div>
            <label class="mb-0"> Email Address </label>
            <input type="email"  name="Email" matInput formControlName="Email" placeholder="Info@example.com" class="bg-gray-100 h-12 mt-2 px-3 rounded-md w-full" (keyup)="CheckEmail($event)" required >
            <mat-error class="err" *ngIf="RegisterForm.controls['Email'].hasError('required')&&(RegisterForm.controls['Email'].dirty || RegisterForm.controls['Email'].touched)">Email is <strong>required</strong></mat-error>
            <mat-error class="err" *ngIf="RegisterForm.controls['Email'].hasError('email')&&(RegisterForm.controls['Email'].dirty || RegisterForm.controls['Email'].touched)">Please enter a <strong>valid email</strong></mat-error>
            <mat-error class="err" *ngIf="!chkemail&&(RegisterForm.controls['Email'].dirty || RegisterForm.controls['Email'].touched)">Email already <strong>Taken</strong></mat-error>
          </div>
          <div>
            <label class="mb-0"> Phone: optional  </label>
            <input type="text" name="PhoneNumber" matInput formControlName="PhoneNumber" placeholder="+543 5445 0543" class="bg-gray-100 h-12 mt-2 px-3 rounded-md w-full" required>
            <mat-error class="err" *ngIf="RegisterForm.controls['PhoneNumber'].hasError('required')&&(RegisterForm.controls['PhoneNumber'].dirty || RegisterForm.controls['PhoneNumber'].touched)">PhoneNumber is <strong>required</strong></mat-error>
          </div>
          <div>
            <label class="mb-0"> Password </label>
            <input type="password" name="PasswordHash" matInput formControlName="PasswordHash" placeholder="******" class="bg-gray-100 h-12 mt-2 px-3 rounded-md w-full" required>
            <mat-error class="err" *ngIf="RegisterForm.controls['PasswordHash'].hasError('required')&&(RegisterForm.controls['PasswordHash'].dirty || RegisterForm.controls['PasswordHash'].touched)">Password is <strong>required</strong></mat-error>
          </div>
          <div>
            <label class="mb-0">Confirm Password </label>
            <input type="password" name="PasswordHashConfiramd" matInput formControlName="PasswordHashConfiramd" placeholder="******" class="bg-gray-100 h-12 mt-2 px-3 rounded-md w-full" required>
            <mat-error class="err" *ngIf="!passwordMatchValidator()&&(RegisterForm.controls['PasswordHashConfiramd'].dirty || RegisterForm.controls['PasswordHashConfiramd'].touched)">The password not <strong>equal</strong></mat-error>
          </div>
          <div class="checkbox">
            <input type="checkbox" id="chekcbox1" checked="">
            <label for="chekcbox1">
             
              <span class="checkbox-icon"></span> I agree to the <a [routerLink]="['/privacy']" target="_blank" class="uk-text-bold uk-text-small uk-link-reset"> Terms and Conditions </a>
            </label>
          </div>
          
          <div>
            <button type="submit" [disabled]="!Validator()" class="bg-blue-600 font-semibold p-2 mt-5 rounded-md text-center text-white w-full">
              Get Started
            </button>
          </div>
        </form>
      </div>
    </div>




  </div>
</div>
